---
---
<div id="cater-container" class="flex flex-col items-center">
    <!-- Về sau thay này thành category của từng mục sản phẩm -->
    <ul id="catergory" class="grid grid-cols-9">
        <li class="col-span-1"><a>Danh mục 1</a></li>
        <li class="col-span-1"><a>Danh mục 1</a></li>
        <li class="col-span-1"><a>Danh mục 1</a></li>
        <li class="col-span-1"><a>Danh mục 1</a></li>
        <li class="col-span-1"><a>Danh mục 1</a></li>
        <li class="col-span-1"><a>Danh mục 1</a></li>
        <li class="col-span-1"><a>Danh mục 1</a></li>
        <li class="col-span-1"><a>Danh mục 1</a></li>
        <li class="col-span-1"><a>Danh mục 1</a></li>
        <li class="col-span-1"><a>Danh mục 1</a></li>
        <li class="col-span-1"><a>Danh mục 1</a></li>
        <li class="col-span-1"><a>Danh mục 1</a></li>
        <li class="col-span-1"><a>Danh mục 1</a></li>
        <li class="col-span-1"><a>Danh mục 1</a></li>
        <li class="col-span-1"><a>Danh mục 1</a></li>
        <li class="col-span-1"><a>Danh mục 1</a></li>
        <li class="col-span-1"><a>Danh mục 1</a></li>
        <li class="col-span-1"><a>Danh mục 1</a></li>
    </ul>
</div>
<style>
    #cater-container {

    }
    #catergory {
        width: 1440px;
        max-width: 100%;
    }
    #catergory > li {
        text-align: center;
        background-color: brown;
        padding: 2px:
    }
</style>