---
import { ArrowBigRight, ArrowBigRightDash, BadgeCentIcon, BaggageClaim, MessageCircleMore } from "@lucide/astro"

import ImgCTam from '../assets/salers/ctam.png';
import ImgCTruyen from '../assets/salers/ctruyen.png';
import ImgThu from '../assets/salers/thu.png';
---
<footer >
<div class="flex flex-col" id="container-footer">
    <!-- Top bar -->
    <div class="bg-sky-50 w-[1440px] max-w-full grid grid-cols-2">
        <div class="bg-[#781722] col-span-2 pt-4 pl-4">
            <div id="ibnow" class="block items-center justify-center p-3 bg-linear-95 from-red-800 to-red-600 m-3 rounded-2xl border-2 border-solid border-orange-200 w-fit float-left flex flex-row">

                <BaggageClaim class="inline-block h-auto text-white" size={52} />
                
                <h5 style="" class="pl-2 text-3xl  self-center text-white">
                    INBOX NGAY <ArrowBigRightDash id="ArrowBigRightDash" class="inline" size={32} />
                </h5>

            </div>

            <ul class="flex flex-row flex-wrap justify-center h-[100%] hotline">
                <li class="min-w-auto flex-row flex items-center">
                    <img src={ImgCTam.src} class="h-20 rounded-[60px] bg-orange-100 ml-3 my-2">

                    <p class="inline-block p-3 pr-5 rounded-r-2xl border-y-1 border-r-1 border-orange-200">Hotline: 
                    <a id="link-social" href="https://zalo.me/0706371048" target="_blank">0706 371 048</a></p>
                </li>
                <li class="min-w-auto flex-row flex items-center">
                    <img src={ImgCTruyen.src} style="display: inline" class="h-20 rounded-[60px] bg-orange-100 ml-3 my-2">
                    <p class="inline-block p-3 pr-5 rounded-r-2xl border-y-1 border-r-1 border-orange-200">Hotline: <a id="link-social" target="_blank" href="https://zalo.me/0847547776">0847 547 776</a></p>
                </li>
                <li class="min-w-auto flex-row flex items-center">
                    <img src={ImgThu.src} style="display: inline" class="h-20 rounded-[60px] bg-orange-100 ml-3 my-2">
                    <p class="inline-block p-3 pr-5 rounded-r-2xl border-y-1 border-r-1 border-orange-200">Hotline: <a id="link-social" target="_blank" href="https://zalo.me/0901036457">0901 036 457</a></p>
                </li>
            </ul>
        </div>
        <div class="px-8 py-2 bg-[#781722] col-span-2">
            <div class="address">
                <a>📍 Địa chỉ: KDC Hoàng Phát, Số 6, Đường Huỳnh Thị Đê, Phường Bạc Liêu
                </a>
            </div>
        </div>
        <div class="bg-[#781722] col-span-2 px-8 py-8 pt-0">
            <ul class="social">
                <li>
                    <img src="../ico-footer/facebook.png" width="22px" style="display: inline">
                    <a>Fanpage: In ấn bao bì Cần Thơ
                    </a>
                </li>
                <li>
                    <img src="../ico-footer/tik-tok.png" width="22px" style="display: inline">
                    <a>Tiktok: </a><a id="link-social" target="_blank" href="https://www.tiktok.com/@locphat1210?is_from_webapp=1&sender_device=">Good in ấn bao bì Cần Thơ</a>
                        </li>
                        <li>
                        <img src="../ico-footer/shopee.png" width="22px" style="display: inline">
                         <a>Shopee: </a><a id="link-social" target="_blank" href="https://vn.shp.ee/NBJcLCE">Good - In ấn bao bì</a>
                        </li>
                        <li>
                        <img src="../ico-footer/shopee.png" width="22px" style="display: inline">
                         <a>Shopee: </a><a id="link-social" target="_blank" href="https://vn.shp.ee/PCXxUHn">LỘC PHÁT - BAO BÌ BẠC LIÊU</a>
                        </li>
                        <li>
                        <img src="../ico-footer/shopee.png" width="22px" style="display: inline">
                         <a>Shopee: </a><a id="link-social" target="_blank" href="https://vn.shp.ee/sECwMnF">bao bì - túi giấy</a>
                        </li>
                        <li>
                        <img src="../ico-footer/zalo.png" width="22px" style="display: inline">
                         <a>Tham gia ngay </a><a id="link-social" target="_blank" href="https://zalo.me/g/dztqfp388">nhóm khách sỉ nhận ưu đãi</a>
                        </li>
                    </ul>
            </div>
        </div> 

</div>


</footer>

<style>
    footer {
        bottom: 0;
    }
    card {
        width: 55px;
    }
    /*Create a horizontal list with spacing*/
    li {
        float: left;
    }
    #container-footer {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		align-items: center;
	}
    .social li  {
        display: inline-block;
        padding: 10px;
    }
    .social li p {
        color: antiquewhite;
        font-size: 1.3rem !important;
    }
    .social li a {
        color: antiquewhite;
        font-size: 1.3rem;
    }
    #link-social {
        color: darkcyan;
    }
    .address a, .hotline a {
        color: antiquewhite;
        font-size: 1.3rem !important;
    }
    li p {
        font-size: 1.3rem;
        font-weight: 500;
        color: antiquewhite;
        height: fit-content;
    }
    li a {
        font-weight: 800;
    }
    #ibnow {
        transition: transform .35s;
    }
    #ibnow:hover {
        -ms-transform: scale(3.45);
            /* IE 9 */
        -webkit-transform: scale(1.125);
            /* Safari 3-8 */
        transform: scale(1.125);
        cursor: pointer;
    }
    #ibnow #ArrowBigRightDash {
        transition: transform .45s;
    }
    #ibnow:hover #ArrowBigRightDash {
        -ms-transform: scale(4.6);
            /* IE 9 */
        -webkit-transform: scale(1.5);
            /* Safari 3-8 */
        transform: scale(1.5);
    }
</style>