---

---
<footer>
<div class="flex flex-col" id="container-footer">

    <div class="flex-col">
        <!-- Top bar -->
                
                <div class="footer grid h-56 grid-cols-3 content-center flex justify-around items-stretch">
                    <!-- Hardcode: So Zalo khi click vào -->
                    <ul class="py-4 hotline col-span-2">
                        <a>📞 Hotline KD:</a>
                        <li>
                        <img src="../ico-footer/zalo.png" width="22px" style="display: inline">
                        <a>Hotline: </a><a id="link-social" href="https://zalo.me/0706371048">0706 371 048</a>
                        </li>
                        <li>
                        <img src="../ico-footer/zalo.png" width="22px" style="display: inline">
                        <a>Hotline: </a><a id="link-social" href="https://zalo.me/0847547776">0847 547 776</a>
                        </li>
                        <li>
                        <img src="../ico-footer/zalo.png" width="22px" style="display: inline">
                        <a>Hotline: </a><a id="link-social" href="https://zalo.me/0901036457">0901 036 457</a>
                        </li>
                    </ul>

                    <div class="py-12 address col-span-1">
                        <a>📍 Địa chỉ: KDC Hoàng Phát, Số 6, Đường Huỳnh Thị Đê, Phường Bạc Liêu
                        </a>
                    </div>

                    <ul class="py-8 social col-span-1">
                        <li>
                        <img src="../ico-footer/facebook.png" width="22px" style="display: inline">
                         <a>Fanpage: In ấn bao bì Cần Thơ</a>
                        </li>
                        <li>
                        <img src="../ico-footer/tik-tok.png" width="22px" style="display: inline">
                         <a>Tiktok: </a><a id="link-social" href="https://www.tiktok.com/@locphat1210?is_from_webapp=1&sender_device=">Good in ấn bao bì Cần Thơ</a>
                        </li>
                        <li>
                        <img src="../ico-footer/shopee.png" width="22px" style="display: inline">
                         <a>Shopee: </a><a id="link-social" href="https://vn.shp.ee/NBJcLCE">Good - In ấn bao bì</a>
                        </li>
                        <li>
                        <img src="../ico-footer/shopee.png" width="22px" style="display: inline">
                         <a>Shopee: </a><a id="link-social" href="https://vn.shp.ee/PCXxUHn">LỘC PHÁT - BAO BÌ BẠC LIÊU</a>
                        </li>
                        <li>
                        <img src="../ico-footer/shopee.png" width="22px" style="display: inline">
                         <a>Shopee: </a><a id="link-social" href="https://vn.shp.ee/sECwMnF">bao bì - túi giấy</a>
                        </li>
                        <li>
                        <img src="../ico-footer/zalo.png" width="22px" style="display: inline">
                         <a>Tham gia ngay </a><a id="link-social" href="https://zalo.me/g/dztqfp388">nhóm khách sỉ nhận ưu đãi</a>
                        </li>
                    </ul>

                </div>
    </div>

</div>
</footer>

<style>
    footer {
        bottom: 0;
    }
    card {
        width: 55px;
    }
    #MenuSearch[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 10px;
    right: 0;
    max-lines: 1;
    height: 2rem;
    }
    .footer{
        bottom: 0;
        display: flex;
        justify-content: center;
        background-color: #0e1b1b;
        height: 100%;
        width: 1440px;
    }
    .footer > div {
        margin: 5px;
        padding: 5px;
        border-radius: 5px;
        width: 100%;
    }
    /*Strip the ul of padding and list styling*/
    ul {
        list-style-type:none;
        margin:0;
        padding:0;
    }
    /*Create a horizontal list with spacing*/
    li {
        padding-left: 5px;
        padding-right: 5px;
        float: left;
        margin-right: 1px;
    }
    #container-footer {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		align-items: center;
	}
    .social {
        border-color: aquamarine;
        padding: 5px;
    }
    .social > li,  {
        padding: 5px;
        display: inline-block;
    }
    .social > li > p {
        color: aliceblue;
    }
    .social > li > a{
        color: aliceblue;
    }
    #link-social {
        color: darkcyan;
    }
    .address a, .hotline a {
        color: aliceblue;
    }
</style>