---

---
<div class="flex flex-col" id="container-head">

    <div id="header" class="flex flex-col items-end justify-end">
        <!-- Top bar -->
            <div class="header">
                <ul class="flex justify-end">
                    <li>
                        Liên hệ: 0706 371 048 – 0847 547 776 – 0901 036 457
                    </li>
                    <li><a href="/about">About us!</a></li>
                </ul>
    </div>

    <div class="menu-header flex justify-between">

            <!-- Tiêu đề logo -->
            <a href="/" class="p-4">
                    <img alt="/" src="/good.png" width="200px" >
            </a>


            <!-- menu-header -->
            <div id="div-search" class="flex items-center justify-end">
                <!-- Thanh tìm kiếm -->
                <input id="MenuSearch" type="text" placeholder="Tìm ấn phẩm"> 
            </div>
                
                <div class="content-center flex items-stretch">
                <card class="flex items-center">
                    Bảo mật thông tin an toàn
                </card>
                <card class="flex items-center">
                    Đảm bảo 100% hài lòng
                </card>
                </div>
            </div> 
    </div>

    <!-- Main Menu -->
            <div id="Menu" class="flex items-start bg-cyan-500 shadow-lg shadow-cyan-500/50">
                <ul class="flex items-start">
                    <li id="Menu-items"><a href="/">Trang chủ</a></li>
                    <ul id="Menu-items" class="drophover">
                        <a href="/products">In bao bì - túi giấy</a>
                        <ul class="dropdown">
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">TÚI GIẤY KRAFT IN THEO YÊU CẦU</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">TÚI GIẤY KRAFT CÓ SẴN</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">COMBO HỘP TÚI THEO CHỦ ĐỀ</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">TÚI GIẤY CAO CẤP C250</li>
                        </ul>
                    </ul>
                    <ul id="Menu-items" class="drophover">
                        <a href="#">In bao bì - túi</a>
                        <ul class="dropdown">
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">BỌC NILON</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">BỌC ÉP QUAI</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">TÚI NIÊM PHONG</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">BỌC TỰ HỦY</li>
                        </ul>
                    </ul>
                    <ul id="Menu-items" class="drophover">
                        <a href="#">Ấn phẩm</a>
                        <ul class="dropdown flex min-w-[240px] flex-col gap-1 p-1.5">
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">HÓA ĐƠN</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">DANH THIẾP</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">VOUCHER</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">TAG TRE0</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">TỜI RƠI</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">PHIẾU SHIP HÀNG</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">BẢNG GIÁ</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">BẰNG - HỢP ĐỒNG</li>
                        </ul>
                    </ul>
                    <ul id="Menu-items" class="drophover">
                        <a href="#">Sổ</a>
                        <ul class="dropdown flex min-w-[240px] flex-col gap-1 p-1.5">
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">SỔ BIÊN NHẬN</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">SỔ HỤI</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">SỔ BÁN HÀNG</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">SỔ THU CHI</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">SỔ NHẬP XUẤT HÀNG HÓA</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">SỔ VAY TIỀN</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">THEO DÕI KHÁCH HÀNG</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">SỔ CHẤM CÔNG</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">SỔ THU TIỀN TRỌ</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">SỔ HỢP ĐỒNG CƯỚI</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">SỔ LIỆU TRÌNH SPA</li>
                        </ul>
                    </ul>
                    <ul id="Menu-items" class="drophover">
                        <a href="#">Menu</a>
                        <ul class="dropdown flex min-w-[240px] flex-col gap-1 p-1.5">
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">MENU TỜ</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">MENU DECAL CHỐNG THẤM NƯỚC</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">MENU ĐÓNG CUỐN - QUYỂN</li>
                        </ul>
                    </ul>
                    <ul id="Menu-items" class="drophover">
                        <a href="#">Thiệp</a>
                        <ul class="dropdown flex min-w-[240px] flex-col gap-1 p-1.5">
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">THIỆP SINH NHẬT</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">THIỆP THÔI NÔI</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">THIỆP TÂN GIA</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">THIỆP CƯỚI</li>
                        </ul>
                    </ul>
                    <ul id="Menu-items" class="drophover">
                        <a href="#">Decal</a>
                        <ul class="dropdown flex min-w-[240px] flex-col gap-1 p-1.5">
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">TEM DECAL BÓNG</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">TEM VỠ BẢO HÀNH</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">TEM BẾ HÌNH THEO YÊU CẦU</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">THIỆP CƯỚI</li>
                        </ul>
                    </ul>
                    <ul id="Menu-items" class="drophover">
                        <a href="#">Ấn phẩm khác</a>
                        <ul class="dropdown flex min-w-[240px] flex-col gap-1 p-1.5">
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">THIẾT KẾ LOGO RIÊNG</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">THIẾT KẾ BẢNG HIỆU</li>
                            <li class="flex min-w-[240px] flex-col gap-1 p-1.5">THIẾT KẾ CON DẤU</li>
                        </ul>
                    </ul>
                    <li id="Menu-items"><a href="#">In nhanh</a></li>
                </ul>
            </div> 
</div>


<style>
    #div-search {
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
    }
    #Menu-items {
        padding: 8pt;
    }
    #Menu {
        width: 1440px;
        margin-top: 10px;
        background-color: rgb(0, 225, 255);
        border-radius: 5px;
    }
    .drophover {
        display: inline-block;
        float: left;
        overflow: auto;
    }
    .dropdown {
        display: none;
        z-index: 999;
    }
    .drophover:hover {
        background-color: aquamarine;
    }
    .drophover:hover .dropdown{
        margin-top: 8pt;
        margin-left: -8pt;
        display: block;
        overflow: auto;
        position: absolute;
        max-width: 350px;
        background-color: aliceblue;
        padding: 15px;
        border-radius: 5px;
    }
    card {
        width: 125px;
    }
    #MenuSearch[type=text] {
    float: right;
    padding: 8px;
    padding-left: 16px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 10px;
    right: 0;
    max-lines: 1;
    height: 2.5rem;
    width: 350px;
    }
    
    #header{
        display: flex;
        justify-content: center;
    }
    .header {
        background-color: #11060c;
        padding: 15px;
        width: 100%;
        color: aliceblue;
    }
    .menu-header {
        background-color: #f191a6;
        height: 100%;
        width: 1440px;
    }
    /*Strip the ul of padding and list styling*/
    ul {
        list-style-type:none;
        margin:0;
        padding:0;
    }
    /*Create a horizontal list with spacing*/
    li {
        padding-left: 5px;
        padding-right: 5px;
        float: left;
        margin-right: 1px;
    }
    #container-head {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		align-items: center;
	}
</style>